:root {
    --main-bg1-color: #0057B7;
    --main-bg2-color: rgb(18, 153, 211);
    --main-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: red;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: rgb(67, 142, 227);
    color: var(--main-color);
    border:none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0057B7;
}

td {
    text-align: left;
    vertical-align: top; /* nếu bị căn giữa theo chiều dọc */
}

i {
    font-size: 14px;
}


