:root {
    --main-bg1-color: #0057B7;
    --main-bg2-color: rgb(18, 153, 211);
    --main-color: #fff;
}

/* START : LABEL HOA DON */

#hoadon-container {
    max-width: 1000px;
    margin: 44px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.hoadon-body {
    margin-top: 20px;
}

.label-sanpham .item-sp {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    padding: 15px 0;
    margin: 10px 0;
}

.label-sanpham .item-sp img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.label-sanpham .item-sp .info {
    flex: 1;
}

.label-sanpham .tensp {
    font-size: 18px;
    margin-bottom: 6px;
    color: #333;
}

.label-sanpham .size, .label-sanpham .dongia, .label-sanpham .thanhtien {
    font-size: 15px;
    margin-bottom: 4px;
    color: #555;
}

.thanhtien strong {
    font-size: 16px;
    color: #e53935;
}

form .btn-dathang {
    background-color: #2e7d32;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form .btn-dathang:hover {
    background-color: #1b5e20;
}

.label-thongtin {
    width: 80%;
    min-width: 350px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

.label-thongtin p {
    margin: 6px 0;
}

.label-thongtin .thaydoi{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #215cb0;
    color: #fff;
}

/* END : LABEL HOA DON */

/* START : MODAL */

.modal {
    position: fixed;
    display: none;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.modal .modal-content {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 60vw;
    height: 500px;
    max-height: 80vh;
    position: relative;
    text-align: center;
    animation: slideDown 0.4s ease;
}

.modal .close {
    position: absolute;
    top: 10px; 
    right: 15px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.modal h3 {
    font-size: 28px;
    padding: 20px 0 0;
    margin: 30px 0 30px 30px;
    text-align: center;
    display: block;
    color: var(--main-bg1-color);
}

.modal #modal-img {
    margin: 10px 0;
}

.modal img {
    width: 100%;
    max-height: 80vh;
}

.modal .modal-content .modal-gia {
    height: 40px;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
    color: red;
}

.modal .modal-content .btn-khung-modal {
    height: 44px;
    width: 250px;
    text-align: center;
}

.modal .modal-content .btn-modal {
    width: 100%;
    margin: 0 auto;
}

.modal .modal-content .modal-size {
    height: 40px;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 600;
}

.modal .modal-content .modal-size select {
    width: 116px;
    height: 36px;
    font-size: 14px;
    padding: 5px;
}

.modal .modal-content .modal-soluong {
    height: 40px;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 600;
}

.modal .modal-content .modal-soluong input {
    width: 116px;
    height: 36px;
    font-size: 14px;
    padding: 5px;
}

.modal .modal-tesp {
    height: 40px
}

.modal p, .modal label {
    margin-left: 40px;
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
    .modal .modal-content .note {
        height: 160px;
    }

    .modal .modal-content {
        max-height: 90vh;
        max-width: 50vw;
    }
}

@media (min-width: 660px) and (max-width: 1023px) {
    .modal p, .modal label {
        font-size: 14px;
        margin-left: 10px;
        padding: 5px;
    }

    .modal h3 {
        font-size: 18px;
        margin: 10px 0 10px 10px;
    }

    .modal .modal-content .note {
        height: 100px;
    }

    .modal .modal-img {
        height: 100%;
        max-height: 90vh;
    }

    .modal img {
        height: 80%;
        max-height: 80vh;  
    }

    .modal .modal-content {
        max-height: 90vh;
        min-width: 550px;
    }
}

@media (max-width: 659px) and (min-width: 320px) {
    .modal p, .modal label {
        margin: 0 0 5px 5px;
        font-size: 14px;
        padding: 5px;
    }

    .modal h3 {
        font-size: 16px;
        margin: 0 0 5px 5px;
        padding-top: 5px;
    }

    .modal .modal-content {
        width: 75vw;
        height: 70vh;;
    }

    .modal .modal-content .note {
        height: 10px;
    }

    .modal img {
        max-height: 50vh;
    }

    .modal .modal-content .modal-size,
    .modal .modal-content .modal-soluong,
    .modal .modal-content .modal-gia {
        padding: 0;
    }

    .modal .modal-content .modal-size select,
    .modal .modal-content .modal-soluong input {
        height: 28px;
        font-size: 12px;
    }
}

@media (max-height: 550px) {
    .modal .modal-content {
        height: 400px;
        max-height: 90vh;
    }

    .modal .modal-content .modal-size select,
    .modal .modal-content .modal-soluong input {
        height: 33px;
    }

    .modal p, .modal label {
        font-size: 14px;
        margin-left: 10px;
        padding: 5px;
    }

    .modal h3 {
        font-size: 18px;
        margin: 10px 0 10px 10px;
    }

    .modal .modal-content .note {
        height: 30px;
    }

    .modal .modal-img {
        width: 310px;
        height: 100%;
        max-height: 90vh;
    }

    .modal img {
        height: 80vh;
        max-height: 100%;  
    }

}
/* END : MODAL */

/* START : CART */

#cart {
    max-width: 100%;
    width: 900px;
    margin: 44px auto;
    padding: 10px;
}

#cart h2 {
    font-size: 30px;
}

.cart-container .cart-item {
    display: grid;
    grid-template-columns: 30px 100px 1fr 50px;
    gap: 10px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    height: 200px;
}

.cart-container .cart-header{
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    text-align: center;
}

.cart-header div:last-child {
    text-align: left;
}

.cart-item img {
    width: 90px;
    height: auto;
    padding: 5px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cart-item .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}

.cart-item .info .tensp {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.cart-item .info input[type="text"] {
    width: 60px;
    text-align: center;
}

.btn-remove a {
    color: #fff;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.cart-container .cart-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#cart .btn-thanhtoan {
    width: 300px;
}

/* END : CART */

/* START : ORDERS */

.orders-container {
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px;
}

.orders-container .order-card {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 10px;
}
.orders-container .order-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.orders-container .order-card .item {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}
.orders-container .order-card .item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.orders-container .order-card .info {
    flex: 1;
}

.orders-container .order-card .price {
    text-align: right;
    color: #d0011b;
    font-weight: bold;
}

.orders-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
}

.orders-container .btn {
    width: 120px;
}

.orders-container .btn:hover {
    background: #d8351d;
}

.orders-container .status {
    color: green;
}