:root {
    --main-bg1-color: #0057B7;
    --main-bg2-color: rgb(18, 153, 211);
    --main-color: #fff;
}

/* START : LABEL SHOPPING */
.label-shopping {
    width: 100%;
    height: 100%;
}

.label-shopping .label-shopping-container {
    width: 95%;
    margin: 48px auto 20px;
    padding: 10px;
}

.label-shopping h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    color: blue
}

.label-shopping .label-shopping-table {
    width: 100%;
    height: 100%;
}

.label-shopping-table .label-image {
    width: 55%;
}

.label-shopping-table .label-image img {
    width: 100%;
    border-radius: 10px;
}

.label-shopping-table .label-thongtinsp {
    width: 35%;
    height: 20%;
}

.label-shopping-table .label-thongtinsp h3 {
    font-size: 20px;
    color: var(--main-bg1-color);
    padding: 8px;
    text-align: center;
}

.label-shopping-table .label-thongtinsp p {
    font-size: 16px;
    padding: 4px;
}

.label-shopping-table .label-khachhang {
    width: 35%;
    height: 30%;
    text-align: justify;
}

.label-shopping-table .label-khachhang .btn-thaydoi {
    width: 80px;
    height: 30px;
    text-align: center;
    margin-top: 8px;
    background-color: var(--main-bg2-color);
    border-radius: 6px;
}

.label-shopping-table .label-khachhang .btn-thaydoi a {
    color: var(--main-color);
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.label-shopping-table .label-khachhang .btn-thaydoi:hover {
    background-color: var(--main-bg1-color);
}

.label-shopping-table .label-khachhang h3 {
    font-size: 20px;
    color: var(--main-bg1-color);
    padding: 8px;
    text-align: center;
}

.label-shopping-table .label-khachhang p {
    font-size: 16px;
    padding: 4px;
}

.label-shopping-table .label-thanhtoan {
    width: 35%;
    height: 5%;
}

.label-shopping-table .label-thanhtoan h3 {
    font-size: 20px;
    color: var(--main-bg1-color);
    padding: 8px;
    text-align: center;
}

.label-shopping-table .tieude-gia,
.label-shopping-table .gia {
    width: 17.5%;
    height: 25%;
}

.label-shopping-table .tieude-gia p,
.label-shopping-table .gia p {
    font-size: 16px;
    padding: 4px;
}

.label-shopping-table .gia {
    text-align: right;
}

.label-shopping-table .label-btn {
    width: 35%;
    height: 10%;
}

.label-shopping-table .label-mota {
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.label-shopping-table .label-mota h3 {
    font-size: 20px;
    color: var(--main-bg1-color);
    padding: 8px;
}

.label-shopping-table .label-mota p {
    font-size: 16px;
    padding: 4px;
    margin-left: 12px;
}

.label-shopping-table .label-ngancach {
    width: 5%;
    height: 90%;
}
/* END : LABEL SHOPPING */

/* START : MODAL */

.modal {
    position: fixed;
    display: none;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.modal .modal-content {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    width: 60vw;
    height: 500px;
    max-height: 80vh;
    position: relative;
    text-align: center;
    animation: slideDown 0.4s ease;
}

.modal .modal-content .ngancach {
    width: 30px
}

.modal .close {
    position: absolute;
    top: 10px; 
    right: 15px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.modal h3 {
    font-size: 28px;
    padding: 20px 0 0;
    margin: 30px 0 30px 30px;
    text-align: center;
    display: block;
    color: var(--main-bg1-color);
}

.modal #modal-img {
    margin: 10px 0;
}

.modal img {
    width: 100%;
    max-height: 80vh;
}

.modal .modal-content .modal-gia {
    height: 40px;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
}

.modal .modal-content #btn-xacnhan {
    height: 40px;
    width: 250px;
    margin: auto;
}

.modal .modal-content .btn-xacnhan-mua {
    text-align: center;
}

.modal .modal-content .modal-size {
    height: 40px;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 600;
}

.modal .modal-content .modal-size select {
    width: 116px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
}

.modal .modal-content .modal-soluong {
    height: 40px;
    font-size: 16px;
    padding: 12px 0;
    font-weight: 600;
}

.modal .modal-content .modal-soluong input {
    width: 116px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
}

.modal .modal-tesp {
    height: 40px
}

.modal p, .modal label {
    margin-left: 40px;
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1024px) {
    .modal .modal-content .note {
        height: 160px;
    }
}

@media (max-width: 739px) and (min-width: 320px) {
    .modal p, .modal label {
        margin: 0 0 5px 5px;
        font-size: 14px;
        padding: 5px;
    }

    .modal h3 {
        font-size: 16px;
        margin: 0 0 5px 5px;
        padding-top: 5px;
    }

    .modal .modal-content {
        width: 75vw;
        height: 70vh;;
    }

    .modal .modal-content .note {
        height: 10px;
    }

    .modal img {
        max-height: 100vw;;
    }
    .modal .modal-content .modal-size,
    .modal .modal-content .modal-soluong,
    .modal .modal-content .modal-gia {
        padding: 5px 0;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .modal p, .modal label {
        font-size: 14px;
        margin-left: 10px;
        padding: 5px;
    }

    .modal h3 {
        font-size: 18px;
        margin: 10px 0 10px 10px;
    }

    .modal .modal-content .note {
        height: 100px;
    }

    .modal .modal-img {
        height: 100%;
        max-height: 90vh;
    }

    .modal img {
        max-height: 80vh;  
    }

    .modal .modal-content {
        max-height: 90vh;

    }
}
/* END : MODAL */